body {
    background-image: url("assets/cloud.jpg");
    color: white;
}  

#menu{
    margin: 3em auto;
    padding: 0 20%;
}


#data {
    margin: 1em auto;
    text-align: center;
    width: 80%; 
    display: none; 
}



#conditionName, #todayName, .tmp, #symbDeg{
    font-size: small;
}

#city{
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    margin-bottom: 1em;
}

#currentInfo {
    background-color: rgba(152,216,240,0.3);
    box-shadow: 5px 5px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 1em 2em;
}

#hourName{
    font-size: x-large;
}
#todayName{
    font-weight: bold;
}
.tmp {
    font-weight: bold;
    text-align: left;
}

#currentDeg{
    font-size: 3.5rem;
}
#symbDeg{
    position: absolute;
    top: 1rem;
}

#conditionName{
    font-style: italic;
}

#imgWeather > img{
    max-width: 100%;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


@media screen and (max-width: 990px) {
    #menu{
        margin: 2em auto;
        padding: 0 1em;
    }
    #data {
        margin: 1em auto;
        text-align: center;
        width: 90%;  
    }
    .itemInfo {
        width: 33%;
    }
}
@media screen and (max-width: 442px) {
    #menu{
        margin: 1em auto;
        padding: 0;
    }
    #data {
        width: 100%;
    }
    #currentDeg{
        font-size: 2.5rem;
    }
    #symbDeg{
        font-size: xx-small;
    }
}


