.slideRight {
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes slideRight {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}


.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}