#appName {
    font-size: 3rem;
}

#menu {
    margin: 3em auto;
    padding: 0;
}

#map {
    height: 100%;
}

#docLink {
    margin: 1em 0;
    padding: 1em;
    color: white;
}

#docLink:link {
    text-decoration: none;
}

/* City prediction list */
#selected-locality {
    background: rgba(0, 0, 0, .03);
}


.predictions {
    background-color: rgba(255, 255, 255, 0.3);
    list-style: none;
    margin: 0;
    padding: 7px;
    max-width: 300px;
    display: none;
}

.prediction {
    position: relative;
    padding: .5em .5em;
    cursor: pointer;
    color: #333;
}

.prediction:hover {
    background: rgba(0, 0, 0, .06);
}


/* Data section */
#data {
    margin: 1em auto;
    text-align: center;
    color: white;
}

.conditionName,
.todayName,
.tmp,
.small {
    font-size: small;
}


/* Today weather */
#displayHours {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 1em 2em;
}
#currentInfo {
    background-color: rgba(152, 216, 240, 0.3);
}

#currentInfo,
.weekInfo {
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1em 2em;
}

.displayHours {
    margin: 1em;
    width: 100%;
}

.hourName {
    font-size: x-large;
}

.todayName {
    font-weight: bold;
}

.currentDeg {
    font-size: 2.5rem;
    text-align: left;
}

.conditionName {
    font-style: italic;
}

.imgWeather>img {
    max-width: 100%;
}

.tmp {
    font-weight: bold;
    text-align: left;
    padding: 0;
}

.cityName {
    margin: 1em auto;
    padding: 0 .5em;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
}

/* Week weather */
.card {
    background-color: rgba(152, 216, 240, 0.8);
    margin: 0.5em 1em;
    padding-top: 0;
    padding-bottom: 0;
    border-color: white;
}

.card-header {
    border-color: white;
}

.carousselDiv {
    margin: 0;
    padding: 1em 3em 3em 3em;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}


/* Medium screen */
@media screen and (max-width: 990px) {
    #appName {
        font-size: 2rem;
    }
    #menu {
        margin: 2em auto;
        padding: 0 1em;
    }
    #data {
        margin: 1em auto;
        text-align: center;
        width: 90%;
    }
    .itemInfo {
        max-width: 40%;
    }
    .currentDeg {
        font-size: 2rem;
    }
}

/* Small screen */
@media screen and (max-width: 442px) {
    #menu {
        margin: 1em auto;
        padding: 0;
    }
    #data {
        width: 100%;
    }
    h1 {
        font-size: medium;
    }
}