body {
    background-image: url("../assets/cloud.jpg");
    color: white;
}  

#appName {
    font-size: 3rem;
}

header{
    margin: 1em;
}
/* Input */
#menu{
    margin: 3em auto;
    padding: 0;
}
.predictions {
    background-color: rgba(255,255,255,0.3);
    list-style: none;
    margin: 0;
    padding: 7px;
    max-width: 300px;
    display: none;
  }
  
  .prediction {
    position: relative;
    padding: .5em .5em;
    cursor: pointer;
    color: #333;
  }
  
  .prediction:hover {
    background: rgba(0, 0, 0, .06);
  }
  
  #selected-locality {
    background: rgba(0, 0, 0, .03);
  }

/* Data section */
#data {
    margin: 1em auto;
    text-align: center;
    color: white;
}


.conditionName, .todayName, .tmp, .small{
    font-size: small;
}

/* Today weather */
#currentInfo, .weekInfo{
    box-shadow: 5px 5px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 1em 2em;
}

#displayHours{
    -webkit-box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.7);
    box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 1em 2em;
}

#currentInfo{
    background-color: rgba(152,216,240,0.3);
}
.hourName{
    font-size: x-large;
}
.todayName{
    font-weight: bold;
}

.currentDeg{
    font-size: 2.5rem;
    text-align: left;
}

.conditionName{
    font-style: italic;
}

.imgWeather > img{
    max-width: 100%;
}



.tmp {
    font-weight: bold;
    text-align: left;
    padding: 0;
}

.cityName{
    margin: 1em auto;
    padding: 0 .5em;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
}


/* Week weather */
.card {
    background-color: rgba(152, 216, 240, 0.8);
    margin: 0.5em 1em;
    padding-top: 0;
    padding-bottom: 0;
    border-color: white;
}
.card-header{
    border-color: white;
}

.carousselDiv{
    margin: 0;
    padding: 1em 3em 3em 3em;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}


.displayHours{
    margin: 1em;
    width: 100%;
}

/* Useful */
.fullWidth{
    width: 100%;
}

.bold {
    font-weight: bold;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hScroll {
    overflow-y: scroll;
    max-height: 700px;
}


.hidden{
    display: none;
}

.block{
    display: block;
}

.minHalfWidth{
    min-width: 100px;
}

/* Slide animation */
.slideRight {
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes slideRight {
    from {
        margin-left: 100%;
        width: 300%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
} 


.fadeInRight{
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft{
    animation-name: fadeInLeft;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  @keyframes fadeInLeft {
      from {
          opacity: 0;
          transform: translate3d(-100%, 0, 0);
      }
      to {
          opacity: 1;
          transform: none;
      }
  }

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
  


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
    height: 100%;
  }

/* Small screen */
@media screen and (max-width: 990px) {
    #appName {
        font-size: 2rem;
    }
    
    #menu{
        margin: 2em auto;
        padding: 0 1em;
    }
    #data {
        margin: 1em auto;
        text-align: center;
        width: 90%;  
    }
    .itemInfo {
        max-width: 40%;
    }
    .currentDeg{
        font-size: 2rem;
    }
   
}

@media screen and (max-width: 442px) {

   
    #menu{
        margin: 1em auto;
        padding: 0;
    }
    #data {
        width: 100%;
    }
    h1{
        font-size: medium;
    }
}


